li.views-fluid-grid-item {
  background-color: inherit;
  border: none;
}

.page-iarc {
  .ctools-auto-submit-full-form {
    margin-bottom: 2em;
  }
  .views-fluid-grid-item {
    padding: 0;
    margin-right: 2em;
  }
  .field-name-title-field {
    margin-top: 0.5em;
    font-size: 1.2em;
  }
  .field-name-field-position {
    margin-bottom: 0.5em;
    font-style: italic;
  }
}

.page-node.node-type-person {
  .field-name-title-field {
    margin-top: 0.5em;
    font-size: 1.5em;
  }
  .field-name-field-photo {
    margin-bottom: 1.5em;
  }
  .group-left-side {
    font-size: 1.1em;
    margin-top: 1.2em;
  }
  .group-right-side {
    font-size: 1.2em;
    margin-top: 1.2em;
  }
}
