.top-logo {
  margin: 20px 0;
  overflow: hidden;

  img {
    float: left;
    margin-right: 30px;
  }

  h1 {
    float: left;
    margin-top: 25px;
  }

  a {
    text-decoration: none;
    color: #333333;
  }
}

.nav > li > a.lobby-menu {
  display: none;
}

.navbar, .navbar-collapse.collapse {
  padding-left: 0;
  padding-right: 0;
}

.page-lobby-iarc,
.page-lobby-das,
.page-lobby-acuasi,
.page-lobby-nws {
  .top-logo {
    display: none;
  }

  .nav > li > a.web-menu {
    display: none;
  }

  .nav > li > a.lobby-menu {
    display: block;
  }

  .jumbotron {
    padding: 20px 60px;

    h1 {
      margin-top: 0;
      font-size: 50px;
    }
  }
}

.page-iarc,
.page-lobby-iarc,
.page-lobby-das,
.page-lobby-acuasi,
.page-lobby-nws {
  .page-header {
    display: none;
  }

  .ctools-auto-submit-full-form {
    margin-bottom: 2em;
  }

  li.views-fluid-grid-item {
    background-color: inherit;
    border: none;
  }

  .views-fluid-grid h3 {
    text-align: left;
    margin-top: 0.25em;
    margin-bottom: 1em;
    padding: 0.25em 0.5em;
    background: #f8f8f8;
    color: #777;
  }

  .views-fluid-grid-item {
    padding: 0;
    margin-right: 1.8em;
    margin-bottom: 1em;
  }

  .views-field-title {
    margin-top: 0.5em;
    font-size: 1.2em;
  }

  .views-field-field-position-title {
    margin-bottom: 0.5em;
    font-style: italic;
  }

  #cboxLoadedContent {
    padding: 20px 10px;

    .lobby-name {
      font-size: 250%;
      margin-top: -2px;
    }

    .lobby-field {
      font-size: 150%;
    }
  }

  #cboxTitle,
  #cboxCurrent,
  #cboxPrevious,
  #cboxNext,
  #cboxSlideshow {
    display: none !important;
  }

  .vertical-align {
    display: flex;
    align-items: center;
  }
}

.page-node.node-type-person {
    
  .field-name-title-field {
    margin-top: 0.5em;
    font-size: 1.4em;
  }

  .field-name-field-photo {
    margin-bottom: 1.5em;
      width: auto;
    
      img {
         border: 2px solid #fff;
          float: left;
          clear: left;
          margin: 0 1.5em 1em 0;
            -webkit-box-shadow: 2px 2px 2px  #ccc;  /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
            -moz-box-shadow: 2px 2px 2px  #ccc;  /* Firefox 3.5 - 3.6 */
            box-shadow: 2px 2px 2px  #ccc;  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
      }  
  }
    
    .field-name-field-location {
        height: 20px;
    }
    
    .field-name-field-phone {
        margin: 0 0 2em 0;
    }
}

